body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

button{
    cursor: pointer;
    border: solid whitesmoke 3px;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
}

@media only screen and (min-width: 480px) {
.auth--container{
    color: blue;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.reset-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    background: rgba(227, 226, 226, 0.531);
    border-radius: 10px;
}

.reset-background{
    background-image: url(../images/rain-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.reset-container input {
    margin-top: 20px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

.reset-container button {
    border: none;
    width: 250px;
    margin-top: 5px;
}
.login-page--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    height: 40px;
    margin: 2px;
    font-size: 20px;
}

.rando-city-container{
    text-align: center;
}

.auth--buttons{
    height: 50px;
    font-size: 20px;
}

.profile--container{
    text-align: center;
}

.get-loc-button{
    font-size: 20px;
    height: 40px;
    box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    border: none;
    margin-top: 15px;
}



.log-out-button{
    height: 80px;
    width: 160px;
    font-size: 20px;
}

.log-out-button:hover{
    background-color: rgba(0, 0, 255, 0.535);
    
}

.forecast-button{
    height: 50px;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
}

.forecast-button:hover{
    background-color: rgba(0, 0, 255, 0.535);
}

.delete-button{
    height: 50px;
    font-size: 20px;
    width: fit-content;
    background: rgb(199, 57, 57);
    grid-column: 6/7;
    grid-row: 3/4;
    margin: auto;
    border: none;
    box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
}

.delete-button:hover{
    background: rgba(199, 57, 57, 0.514);
}

.header--welcome{

    font-size: 100px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    margin-top: 0;
}

.name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: black;

}
.name{
    text-transform: capitalize;

}
.header--container {
    background-image: url('../images/mainSky.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 20px;
}


.header--container h1{
    color: blue;
    opacity: .9;
    text-align: center;

}
.header--container a {
    text-decoration: none;
    font-size: 20px;
}

.day--container{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background: rgb(183, 219, 251);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: visible;/*try to fix cut off*/
}

.nav--container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    border-top: 10px;
    border: solid blue;
}
.nav--container button{
    align-self: center;
}

.current--container h3 {
    text-transform:uppercase;
    grid-column: 3/5;
    grid-row: 1/2 ;
    margin: auto;
    font-size: 30px;
}

.current--container{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: rgb(183, 219, 251);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.save-button{
    grid-row: 3/4;
    grid-column: 6/7;
    width: 90%;
    height: 100px;
    font-size: 20px;
    border: none;
    box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
}

.location{
    grid-row: 1/2;
    grid-column: 3/5;
    margin: auto;
    font-size: 40px;
    text-transform: uppercase;
}

.current--container a{

    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto;
}

.icon{
    grid-column: 3/5;
    grid-row: 3/4;
    margin: auto;
}

.cloud{
    grid-column: 1/2;
    grid-row: 2/3 ;
    margin: auto;
    font-size: 20px;
    
}

.uv{
    grid-column: 2/3 ;
    grid-row: 2/3 ;
    margin: auto;
    font-size: 20px;
    
}

.wind-speed{
    grid-column:5/6 ;
    grid-row: 2/3 ;
    margin: auto;
    font-size: 20px;
    
}

.wind-dir{
    grid-column: 6/7 ;
    grid-row: 2/3;
    margin: auto;
    font-size: 20px;
    margin-right: 10px;
}

.temp{
    grid-column: 3/4;
    grid-row:2/3 ;
    margin: auto;
    font-size: 20px;
    
}

.feel-temp{
    grid-column: 4/5 ;
    grid-row: 2/3 ;
    margin: auto;
    font-size: 20px;
    
}

.condition{
    grid-column: 5/6 ;
    grid-row:  1/2 ;
    margin: auto;
    font-size: 20px;
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search--location-input{
    height: 50px;
    width: 300px;
    font-size: 30px;
    color: rgba(10, 10, 10);

}
.search--location-input::placeholder{
    height: 50px;
    width: 300px;
    font-size: 30px;
    color: rgba(10, 10, 10, 0.311);
}
.find-button{
    height: 50px;
    width: 320px;
    font-size: 30px;
    margin-top: 10px;
    border: none;
    box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
}

.error-message{
    color: red;
}

.high{
    display: none;
}

.toggle-link{
    color: blue;
}

}
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */

@media only screen and (max-width: 480px) {


    .auth--container{
        color: blue;
        font-size: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .auth--container h1 {
        font-size: 60px;
    }
    .login-page--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inputs{
        height: 40px;
        margin: 2px;
        font-size: 20px;
    }
    
    .rando-city-container{
        text-align: center;
    }
    
    .auth--buttons{
        height: 50px;
        font-size: 20px;
    }
    
    .profile--container{
        text-align: center;
    }

    .profile--container h2{
        font-size: 15px;
    }
    
    .get-loc-button{
        font-size: 20px;
        height: 40px;
        border: none;
        box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    }
    
    
    .nav--container .log-out-button{
        font-size: 10px;
    }

    
    .log-out-button:hover{
        background-color: rgba(0, 0, 255, 0.535);
        
    }
    
    .forecast-button{
        height: 50px;
        font-size: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
        box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        border: none;
    }
    
    .forecast-button:hover{
        background-color: rgba(0, 0, 255, 0.535);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }
    
    .delete-button{
        height: 50px;
        font-size: 20px;
        width: fit-content(50%);
        margin: auto;
        margin-right: 5px;
        background: rgb(199, 57, 57);
        grid-column: 4/5;
        grid-row: 3/4;
        border: none;
        box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
    }
    
    .delete-button:hover{
        background: rgba(199, 57, 57, 0.514);
    }
    
    .header--welcome{
        height: 30px;
        font-size: 40px;
        padding: 15%;
        margin-top: 0;
    }


    .name-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;

    }
    .name{
        text-transform: capitalize;
        color: black;

    }
    
    
    .header--container {
        color: blue;
        text-align: center;
        background-image: url(../images/sky.jpg);
        background-size: cover;
    }
    .header--container a {
        text-decoration: none;
        font-size: 20px;
    }
    
    .day--container{
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        border-radius: 10px;
        margin-top: 12px;
        margin-left: 5px;
        margin-right: 5px;
        background: rgb(183, 219, 251);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 4px;
    }

    .nav--container{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        border-top: 10px;
        border: solid blue;
        border-radius: 5px;
    }

    .nav--container a h1{
        font-size: 15px;
    }

    .nav--container button{
        align-self: center;
        height: 40px;
        width: 80px;
        font-size: 15px;
    }
    
    .current--container h3 {
        text-transform:uppercase;
        grid-column: 1/2;
        grid-row: 1/2 ;
        margin: auto;
        font-size: 15px;
        text-align: center;
        margin-left: 3px;
    }
    
    .current--container{
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        border-radius: 10px;
        background: rgb(183, 219, 251);
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 3px;
        width: auto;
    }
    
    .save-button{
        grid-row: 3/4;
        grid-column: 4/7;
        width: auto;
        height: 60px;
        font-size: 15px;
        border: none;
        box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        margin-right: 3px;
    }
    
    .location{
        grid-row: 1/2;
        grid-column: 1/2;
        margin: auto;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    
    .current--container a{
    
        grid-column: 1/2;
        grid-row: 3/4;
        margin: auto;
    }
    
    .icon{
        grid-column: 1/5;
        grid-row: 3/4;
        margin: auto;
    }
    
    .cloud{
        grid-column: 1/2;
        grid-row: 2/3 ;
        margin: auto;
        font-size: 15px;
        text-align: center;
        margin-left: 3px;
    }
    
    .uv{
        grid-column: 2/3 ;
        grid-row: 2/3 ;
        margin: auto;
        font-size: 20px;
        display: none;
    }
    
    .wind-speed{
        grid-column:2/3 ;
        grid-row: 2/3 ;
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    
    .wind-dir{
        grid-column: 4/5 ;
        grid-row: 2/3;
        margin: auto;
        font-size: 15px;
        text-align: center;
        margin-right: 5px;
    }

    .high{
        grid-column: 3/4 ;
        grid-row: 2/3;
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    
    .temp{
        grid-column: 3/4;
        grid-row:1/2 ;
        text-align: center;
        margin:auto;
        font-size: 15px;
    }
    
    .feel-temp{
        grid-column: 4/5 ;
        grid-row: 1/2 ;
        margin: auto;
        font-size: 15px;
        text-align: center;
        margin-right: 5px;
    }
    
    .condition{
        grid-column: 2/3 ;
        grid-row:  1/2 ;
        text-align: center;
        margin: auto;
        font-size: 15px;
    }
    
    .search-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .search--location-input{
        height: 40px;
        width: 60%;
        font-size: 20px;
        color: rgba(10, 10, 10);
    
    }
    .search--location-input::placeholder{
        height: 50px;
        width: 300px;
        font-size: 20px;
        color: rgba(10, 10, 10, 0.311);
    }
    .find-button{
        height: 50px;
        width: 60%;
        font-size: 25px;
        margin-top: 10px;
        box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 9px 1px rgba(0,0,0,0.75);
        border: none;
    }

    .error-message{
        color: red;
    }

    .toggle-link{
        color: blue;
    }

    .reset-container{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 200px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        background: rgba(227, 226, 226, 0.531);
        border-radius: 10px;
        padding-bottom: 15px;
    }
    .reset-container p {
        margin: auto;
        text-align: center;
    }
    .reset-background{
        background-image: url(../images/rain-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    .reset-container input {
        margin-top: 20px;
        width: 250px;
        border-radius: 5px;
        border: none;
    }
    
    .reset-container button {
        border: none;
        width: 250px;
        margin-top: 5px;
    }
    .login-page--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}